bleak==3.0.2
colorzero==2.0
dbus-fast==5.0.22
glcontext==3.0.0
gpiozero==2.0.1
markdown-it-py==4.2.0
mdurl==0.1.2
moderngl==5.12.0
numpy==2.4.6
pygame-ce==2.5.7
Pygments==2.20.0
rich==15.0.0
setuptools==82.0.1
